

.container{
    text-align: center;
  
}

h1{
    color: red;
    margin-bottom: 20%;
}
.search{
    margin-top: 70px;
}

.option{
    margin: 60px;
}

.logo{
    width: 50%;
    margin:auto;
   
}
ul li {
    text-align: left;
    padding: 10px;
    list-style: none;
}
.btn-primary {
    margin-right: 10px;    
}
p{
    font-size: 25px;
    color: rgb(10, 19, 52);
    font-family: 'Russo One', sans-serif;
}
