

.container{
    text-align: center;
  
}

h1{
    color: red;
    margin-bottom: 20%;
}
.search{
    margin-top: 70px;
}

.option{
    margin: 60px;
}

.logo{
    width: 50%;
    margin:auto;
   
}
#devoured ul {
    list-style: none;
    text-align: left;
}
#devoured li {
    padding: 10px;
}
